* {
  padding: 0;
  margin: 0;

}

.body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

/* PARTIE HEADER */

.headerTop {
  background: #6441a4;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.listeMenu {
  height: 50px;
  display: flex;
  align-items: center; 
  width: 100%;
}

.liensNav {
  list-style-type: none;
  padding: 0 20px;

}
/* on vient cibler notre 4eme li */
.liensNav:nth-child(4) {
  margin: 0 auto;

    /* quand on réduit l'écran shrink permet l'effet responsive */
  flex-shrink: 1;
  width: 600px;
}
/* 
.liens{

} */

.logo {
  margin-top: 5px;
}

.formSubmit {
  display: flex;
  flex-shrink: 1;
}

.logoLoupe {
  width: 20px;
}

.inputRecherche {
  width: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.liensNav button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px 20px;
  border: none
}

.menuResponsiveButton {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menuIconeTel{
  width: 25px;
}

/* PARTIE SIDEBAR */

.sideBar{
  position: fixed;
  top: 50px;
  width: 239px;
  background: #f6f6f6;
  height: 100vh;
}

.titreSideBar{
  padding: 30px 0 20px 0;
  color: #060507 ;
  font-size: 15px;
  font-weight: 500;
}

.listeStream {
  padding-left: 10px;
  color: #efebf5
}